// ===== Colors
$primary: rgb(138, 0, 137);
$primaryDark: rgba(138, 0, 137, 0.4);
$secondary: #337ab7;
$secondaryDark: rgba(51,122,183,4);
$terciary: #fff;
$link: #fff;
// https://mycolor.space/?hex=%238A0080&sub=1