


// ======= Services

.services {
  display: block;
  width: 100%;
  height: 100%;
  padding: 3rem;
  background-color: white;

  .services_h1 {
    font-size: 1.9rem;
    text-align: left;
    padding: 1rem 0 2rem 0;
  }
  .services_p {
    padding: 1rem;
  }
}
// wrap--default

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 100%;
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  color: black;
  box-shadow: $primaryDark 3px 2px 3px 2px;

  &:hover {
    border: 1px solid white;
  }

  i {
   font-size: 3rem;
  }

  .service_body {
    padding: 1rem 0;

    h1 {
      padding: 1rem 0;
    }

    p {
      padding: 1rem 0;
      margin-bottom: 1rem;    
    }
  }
}

